
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  font-family: 'Abel', sans-serif;
}


div .container__nav {
  align-items: center;
  padding: 10px 0 10px 0;
  max-width: 1025px;
}

div .buttonsBar {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: black;
  background-size: cover;
  height: 60px;
}

nav .nav__buttonsBar, .filterBar__buttonsBar {
  text-align: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

nav .nav__buttonsBar__item {
  border: 1px solid #97CE4C;
  padding: 2px 2px 2px 2px;
  border-radius: 99px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #97CE4C;
  width: 200px;
  max-height: 25px;
  display: inline-block;
  text-align: center;
}

header {
  display: block;
  text-align: center;
  background-image: url("images/portal2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -39em;
  height: 440px;
  font-size: 2em;
}

img {
  align-self: center;
  margin-top: 60px;
}

.logo {
  text-align: center;
  max-height: 200px;
  padding-bottom: 60px;
}

.header__subtitle {
  color: black;
  padding-top: 65px;
}

.filter-bar-item {
  border: 1px solid #97CE4C;
  padding: 0px 2px;
  margin: 13px;
  border-radius: 99px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #97CE4C;
  width: 100px;
  max-height: 30px;
  display: inline-block;
  text-align: center;
}

select {
  padding: 1rem 2rem;
  border-radius: 99px;
  border-color: #97CE4C;
  background-color: #97CE4C;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  max-height: 18px;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 40px;
}

.filterBar {
  width: 100%;
  background-color: #000;
  text-align: center;
  height: 100px;  
}

.buttonsBar__item , .filterBar__item {
  border: 1px solid #97CE4C;
  padding: 2px 2px 2px 2px;
  border-radius: 99px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  color: black;
  background-color: #97CE4C;
  width: 100px;
  max-height: 15px;
  display: inline-block;
  text-align: center;
}
