
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  font-family: 'Abel', sans-serif;
}

main {
  background-color: #dcfab2;
  text-align: center;
}

div {}

div .container .container__nav {
  align-items: center;
  padding: 10px 0 10px 0;

}

div .buttonsBar {
  padding: 2rem 5rem 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: black;
  background-size: cover;
  height: 50px;
  width: 100%;

}

nav .nav__buttonsBar,
.filterBar__buttonsBar {
  text-align: center;
  align-items: center;
  padding: 10px 0 10px 0;

}

nav .nav__buttonsBar__item {
  border: 1px solid #97CE4C;
  padding: 2px 2px 2px 2px;
  border-radius: 99px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #97CE4C;
  width: 200px;
  max-height: 25px;
  display: inline-block;
  text-align: center;
}

#topBar {}

header {
  display: block;
  text-align: center;
  background-image: url("images/portal2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  min-width: 50%;
  max-width: 80%;
  padding: 3em 5em 3em 5em;
  font-size: 2em;
}

h1 {
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div .filterBar {
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 25px;
  max-width: 100%;
  background-color: black;
  color: #ffffff;
}

select {
  padding: 1rem 2rem;
  border-radius: 99px;
  border-color: #97CE4C;
  background-color: #97CE4C;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  max-height: 18px;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 40px;
}

.filterBar {
  width: 100%;
}

.filterBar__buttonsBar {}

.filterBar__buttonsBar__item {
  border: 1px solid #97CE4C;
  padding: 2px 2px 2px 2px;
  border-radius: 99px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  color: black;
  background-color: #97CE4C;
  width: 100px;
  max-height: 25px;
  display: inline-block;
  text-align: center;
}

.filterBar__buttonsBar__item a {}

.container__cards {
  margin: 10px 20px;
  padding: 5px;
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container__cards__flex {
  margin: 10px;
  padding: 5px;
  border: solid 4px #97CE4C;
  border-radius: 33px;
  background-color: black;
}

.card__figure {
  margin: inherit;
  border-radius: 33px;
}

.characterName {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 5px;
  color: #97CE4C;
}

.left__info, .right__info {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 11px;
  color: #97CE4C;
  display: inline-block;
}

footer {
  padding: 2rem 5rem 1rem 5rem;
  background-color: #97CE4C;
}

.socialMedia {}

.socialMedia__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialMedia__list__item {
  display: block;
  margin: 0 5px;

}

.socialMedia__list__item a {}

.socialMedia__list__item img {
  width: 100%;
  max-width: 20px;
}


